.profile__photo {
  width: 120px;
  border-radius: 50%;
}

@media screen and (max-width: 767px) {
  .profile__photo {
    width: 100px;
  }
}

@media screen and (max-width: 509px) {
  .profile__photo {
    width: 120px;
  }
}
